global:
  scrape_interval:     15s
  evaluation_interval: 60s
  scrape_timeout: 10s
scrape_configs:
  - job_name: mzdjy-prometheus
    static_configs:
      - targets: ['mzdjy-prometheus:9090']
        labels:
          instance: mzdjy
  - job_name: metric
    honor_labels: true
#    http_sd_configs:
#      - url: http://{{ ADDR }}/api
    file_sd_configs:
      - refresh_interval: 15s
        files:
          - /home/target/*.json